<h1 align="center" #appTitle>qwe</h1>

<div>
    <nav class="navbar navbar-default">
        <div>
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a routerLink="/products-list">Products</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/cart">Cart</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/orders">Orders</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/about">About</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/admin">Admin</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-2">
        <router-outlet name='comments'></router-outlet>
    </div>
</div>

<!-- <div style="text-align:center; display: inline;">
    <div style="float: left">
        <app-product-list></app-product-list>
    </div>
    <div style="float: left">
        <app-cart-list align="top"></app-cart-list>
    </div>
    <div style="float: left">
        <app-orders-list align="top"></app-orders-list>
    </div>
</div> -->