<div style="border-style: dotted">
  <h4>Market:</h4>
  <table>
        <tr>
          <td>Name:</td>
          <td>
            <input [(ngModel)]="product.name" type="text"/>
          </td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>
            <input [(ngModel)]="product.description" type="text"/>
          </td>
        </tr>
        <tr>
          <td>Price:</td>
          <td>
            <input [(ngModel)]="product.price" type="number"/>
          </td>
        </tr>
        <tr>
          <td>Is Available:</td>
          <td>
            <input type="checkbox" [checked]="product.isAvailable" (change)="product.isAvailable = !product.isAvailable"/>
          </td>
        </tr>
        <tr>
            <td>Producer:</td>
            <select  [(ngModel)]="product.producer">
                <option value =1>USA</option>
                <option value =2>UK</option>
                <option value =3>Ukraine</option>
            </select>
        </tr>
        <tr>
            <td>Ingredient:</td>
            <td>
                <input #igredient type="text"/>
            </td>
            <td>
                <button (click)="onAddIngredient(igredient.value); igredient.value = null;">Add Ingredient</button>
            </td>
          </tr>
      </table>
  <p>Ingredients:</p>
  <ul>
    <li *ngFor='let ingredient of product.ingredients'>
      {{ingredient}}
    </li>
  </ul>
  <button (click)="onCreateProduct()">Create Product</button>  

</div>
