<div style="margin: 5px; padding: 10px; border: 4px solid blueviolet;">
    <h4>Cart:</h4>
    <div *ngIf='cartItems.length > 0; else cartEmpty'>
      <ul>
          <li *ngFor='let cartItem of cartItems'>
            <app-cart-item [cartItem]="cartItem" (removeCartItem)="removeCartItem($event);"></app-cart-item> 
          <li>     
      </ul>
      <div>Total count:{{totalCount}}</div>
      <div>Total price:{{totalPrice}}</div>
    </div>
    <ng-template #cartEmpty>
        <div >
          Cart is empty.
        </div>
    </ng-template>    
</div>